body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(#0f2027, #203a43, #2c5364);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  color: #fff;

  .header {
    box-shadow: 0px 15px 10px -15px #111;

    .logo {
      height: 150px;
      width: 150px;
      margin: 15px;
      background: #b4b4b9;
      border-radius: 50%;
      box-shadow: 0px 0px 5px 4px rgb(94, 80, 4);

      @media (max-width: 500px) {
        height: 80px;
        width: 80px;
      }
    }
  }

  form {
    display: flex;
    align-items: center;

    h3 {
      margin: 0 20px 0 20px;
      font-family: -webkit-pictograph;
      letter-spacing: 1px;
    }

    .btn-input-div {
      border: 1px solid;
      width: fit-content;
      border-radius: 25px;
      border: 1px solid #e1b4a4;
      margin: 20px 0;

      button {
        background: inherit;
        border: none;
        font-size: 26px;

        &:hover {
          transition: 1s;
          transform: scale(1.1);
        }

        span {
          padding: 0 10px;
          border-right: 1px solid #e1b4a4;

          &:hover {
            color: #fff;
          }
        }
      }
      input {
        font-size: 24px;
        border: none;
        background: inherit;
        padding: 4px 7px;
        color: #f7f7f7;
        outline: 0;
      }
    }

    @media (max-width: 500px) {
      flex-direction: column;

      h3 {
        margin-top: 20px;
      }
    }
  }
  .under-logo {
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 10px -15px #111;
    flex-wrap: wrap;

    .followers-btn {
      margin-left: 20px;
      font-weight: 500;
      width: 150px;
      font-size: 18px;
      height: fit-content;
      background: #50480d;
      border-radius: 0;

      &:hover {
        background: darken($color: #50480d, $amount: 5);
      }
    }
    @media (max-width: 600px) {
      flex-direction: column;

      form {
        h3 {
          font-size: 24px;
        }
        input {
          font-size: 20px;
        }
      }
    }
  }
}

.user-card {
  display: flex;
  align-items: center;
  height: 250px;
  margin: 0 20px;
  box-shadow: 0px 15px 10px -15px #111;

  img {
    width: 200px;
    height: 200px;
  }

  .info {
    text-align: start;
    margin: 0 20px;

    h4 {
      font-size: 28px;
      letter-spacing: 1px;
      margin: 0;
      color: rgb(241, 206, 139);
    }
    p {
      margin: 0;
      color: rgb(231, 248, 198);
      font-size: 20px;

      span {
        font-weight: bold;
        color: #f1e8e2;
        font-family: 'Ubuntu';
        letter-spacing: 0.7px;
        font-size: 18px;
      }
      a {
        text-decoration: underline;
        &:hover {
          color: #0769d1;
        }
      }
    }
  }
  @media (max-width: 815px) {
    flex-direction: column;
    height: 100%;

    img {
      width: 280px;
      height: 280px;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    .info h4 {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

.followers-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .card-container {
    .card {
      width: 300px;
      color: black;
      margin: 20px;
      border: none;
      transition-duration: 0.5s;
      cursor: pointer;

      &:hover {
        transform: scale(1.06);
        box-shadow: 0px 0px 7px 1px rgb(216, 184, 40);
      }

      img {
        height: 250px;
      }
      .card-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: rgb(245, 237, 224);

        .label {
          font-weight: 600;
          margin-right: 8px;
          color: #4d6672;
        }

        .card-title {
          font-family: 'Ubuntu';
          margin: 0 0 -6px 0;
          color: #ac7017;
          letter-spacing: -0.6px;
          font-size: 22px;
        }
        .username {
          color: #ac7017;
          font-size: 22px;
        }

        .btn-info {
          margin-bottom: 20px;
          font-weight: 500;
          width: 110px;
          align-self: center;
          background: #1997aa;
          font-size: 18px;

          &:hover {
            background: darken($color: #1997aa, $amount: 10);
          }
        }

        .collapse {
          width: 100%;
          text-align: start;
          background-color: #1b313a;
          padding: 10px;
          border-radius: 10px;

          p {
            margin: 3px 0;
            color: wheat;

            span {
              font-weight: bold;
              color: #f1e8e2;
              font-family: 'Ubuntu';
              letter-spacing: 0.5px;
            }
          }
        }
      }
    }
  }
}
